.leftbar {
    flex: 2;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(199, 194, 194);
}

.leftbarWrapper {
    padding: 20px;
}

.leftbarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.leftbarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 500;
    margin-right: 15px;
}

.leftbarIcon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 5px;
}

.leftbarHR {
    margin: 20px 0;
}

.leftbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}